/*Z-indexes
0 = BASE background;
1 = Far Books;
2 = Light Rays
3 = Foliage;
4 = Books Focus
5 = Navigation, Header, Question-Mark
*/

/* BOOK FALL */
.falling_books_container{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: content-box; /* This will hide the overflow of falling books */  
}

.falling-book, .falling-book-far {
	
	position: absolute;
	top: 0;
	left: 0; 
	max-width: 15vh; /* Adjust the size of the book */
	overflow: hidden;
	box-sizing: content-box;
}
.falling-book-far {
	cursor: none;
	filter: brightness(0.8) hue-rotate(180deg) blur(3px);
	z-index = 1;
}
.falling-book{
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
	filter: blur(1px);
	
	transition: box-shadow color background-color 0.2s ease-in-out;	
	
	z-index = 4;
}
.falling-book:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, .4);
	box-shadow: 0 5px 15px rgba(255, 255, 255, .7);
}

#hover-text_container{
	
	display:none;
	
	position: fixed;
	
	width: auto;
	height: auto;
	
	padding: 4px;
	
	/* Border */
	border: 2px solid #dcd2ca;
	border-radius: 6px;
	
	/* Test Properties*/
	color: #dcd2ca;
	text-align: center;
	
	font-family: IMFell;
	font-size: 3vh;
}
