.foliage{
	
}

.foliage .left, .foliage .right, .foliage .left-shadow, .foliage .right-shadow{
	position: fixed;
	top: 0;
	
	background-repeat: no-repeat;
}

.foliage .left{
	left: 0;
	
	height: 68.75vh;
	width: calc(100vh * 580 / 1120);
	
	background-size: calc(68.75vh * 580 / 1120) 68.75vh; /*calc(100vh * 448 / 906) calc(100vh * Width / Height);*/
	
	background-image: url('../assets/images/foliage/Foliage_left_side_580x1120.png');
}

.foliage .right{
	right: 0;
	
	height: 55vh;
	width: calc(55vh * 448 / 906) ;
	
	background-size: calc(55vh * 448 / 906) 55vh; /*calc(100vh * 448 / 906) calc(100vh * Width / Height);*/
	
	background-image: url('../assets/images/foliage/Foliage_right_side_448x906.png');
}

.foliage .left-shadow{
	left: 0;
	
	height: 68.75vh;
	width: calc(100vh * 580 / 1120);
	
	background-size: calc(68.75vh * 580 / 1120) 68.75vh; /*calc(100vh * 448 / 906) calc(100vh * Width / Height);*/
	
	mix-blend-mode: multiply;
	
	background-image: url('../assets/images/foliage/FoliageShadow_left_side_580x1120.png');
}

.foliage .right-shadow{
	right: 0;
	
	height: 55vh;
	width: calc(55vh * 448 / 906) ;
	
	background-size: calc(55vh * 448 / 906) 55vh; /*calc(100vh * 448 / 906) calc(100vh * Width / Height);*/
	
	mix-blend-mode: multiply;
	
	background-image: url('../assets/images/foliage/FoliageShadow_right_side_448x906.png');
	
		
}



.background-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.background-container .tiling-base, .background-container .tiling-highlight{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	background-repeat: repeat; /* Tile horizontally */
	
	background-size: 128vh 100vh; /* 128vh = calc(100vh * 2048 / 1600) calc(100vh * Width / Height);*/
}

.background-container .tiling-base{
	background-image: url('../assets/images/backgrounds/BackgroundBase_2048x1600.png');
}

.background-container .tiling-highlight{
	background-image: url('../assets/images/backgrounds/BackgroundHighLights_2048x1600.png');
	
	opacity: .75;
	mix-blend-mode: screen; /* Additive blending mode */
}





.background-container .left-edge, .background-container .right-edge{
	position: absolute;
	top: 0;
	
	height: 100vh;
	width: 34.375vh; /* 34.375vh = calc(100vh * 550 / 1600); calc(100vh * Width / Height);*/
	
	background-size: 34.375vh 100vh ;
	background-image: url('../assets/images/backgrounds/BackgroundEdge_550x1600.png');
	
	mix-blend-mode: multiply;	
}

.background-container .left-edge {	
	left: 0;
	
}

.background-container .right-edge {
	right:0;	
}
