/*Z-indexes
0 = BASE background;
1 = Far Books;
2 = Light Rays
3 = Foliage;
4 = Books Focus
5 = Navigation, Header, .motif-line, Question-Mark
*/

/*FONTS*/
@font-face { font-family: IMFell; src: url('../assets/fonts/IMFellEnglish-Regular.ttf'); } 


header {
	position: absolute;
	
	top: 1%;
	left: 10%;
	right: 10%;
	
	height:10%;
	margin:0;
	
	/*Default properties*/
	color: #dcd2ca;
	text-align: center;
	
	font-family: IMFell;
	font-size: 8vh;
	
	z-index = 5;
}

header h1 {
	display: block;
}

.motif-line {
	/*Flex Container*/
    display: -webkit-flex; /* Safari */
    display: -ms-flexbox;  /* IE 10 */
    display: flex;         /* Modern browsers */
    justify-content: center;
    align-items: flex-end;
	
	z-index = 5;
} 

.motif-line .line {
	height: 0.6vh;
	width: 50%;

	outline-color: #dcd2ca;
	background-color: #dcd2ca;
}

.motif-line .motif {
	
	
	background-image: url("../assets/images/titleline/titleline_end_50x28.png");
	background-size: cover;
    background-repeat: no-repeat;
	
	width:calc(2vh * 50 / 28);
	height:2vh;
	
}



