/*BookForground*/
.forground-container {
	pointer-events:none;  
	position: fixed;
	top: 0;
	left: 0;
	
	height: 100%;
	width: 100%;
	/* background-color: black; */
	filter: blur(3px);
	
}
.forground-container-blur {
	pointer-events:none;  
	position: fixed;
	top: 0;
	left: 0;
	
	height: 100%;
	width: 100%;
	/* background-color: black; */
	filter: blur(3px);
	/* opacity:0.75; */
	/* mix-blend-mode: multiply; */
	
}
.forground_book_loop {
	pointer-events:none;  
	position: fixed;
	top:76%;
	left:0;
	
	height:100%;
	width:100%;
	
	
	background-size:calc(24vh * 2028 / 384) 24%;
	background-image: url('../assets/images/forgroundBooks/ForgroundBookLoop_2028x384.png');
	
}
.forground_corner_L {
	pointer-events:none;  
	position: absolute;
	bottom: 0;
	left: 0;
	height: 61.875%; 
	/* width: calc(61.875% * 350 / 990);  */
	
}
.forground_corner_R {
	pointer-events:none;  
	position: absolute;
	bottom: 0;
	right: 0;
	height: 61.875%; 
	/* width: calc(61.875% * 350 / 990);  */
}