
content {
	position: relative;
	
	top:11vh;
	bottom:0;
	left: 10vw;
	right: 10vw;

	margin:0;
	
	text-align:center;
	
	/* Text Properties*/
	color: #dcd2ca;
	
	font-family: IMFell;
	font-size: 5vh;
	
	/* background-color: black; */
}

.thumbnail-container {
	margin-top:10vh;
	text-align:center;
	width:80vw;
	
	/* background-color: green; */
}

.thumbnail-container .title{
	display: inline;
	float: left;
	/* background-color: blue; */
}

.thumbnail-container .link{
	display: inline;
	
	float: right;
	
	/* background-color: red; */
}

.thumbnail-container .thumbnail {
	display: inline-block;
	
	width: 70vw;
	height: 39.375vw;
	
	margin-bottom: 5vh; 
	
	/* Border */
	border: 2px solid #dcd2ca;
	border-radius: 6px;
	
	/* Test Properties*/
	color: #dcd2ca;
	text-align: center;
	
	font-family: IMFell;
	font-size: 3vh;
	
	background-color: gray;
}
		
/*Above 700px*/
@media screen and (min-width: 700px) {
	.thumbnail-container .thumbnail {
		/* float:left; */
		width: 23vw;
		height: 12.9375vw;
	
		margin-bottom: 5vh; 
	}
}